.activeTab{
    display: initial;
}

.inActiveTab{
    display: none;
}

.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only){
    padding-left: 23px !important;
}

.btnLoader i{
    margin-right : 0px !important;
}



.ant-message, .ant-notification{
    z-index: 100000 !important;
}

.button:hover, .button:focus{
    transform: translateY(0px) !important;
}

.customFocus{
    border: 1px solid #CB1E1A !important;
}

.customFocus:hover{
    background:none !important;
    color: #CB1E1A !important;
}

.customFocus:focus{
    background:none !important;
    color: #CB1E1A !important;
}

.tmpStartProcess{
    background: #CB1E1A;
    color: white;
    padding: 3px;
    font-size: 10px;
    border-radius: 9px;
}

.tmpStartProcess:hover {
    color: white;
}