.infinityScroll{
  max-height: 480px;
  overflow-y: scroll;
}

.loading {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: #A8ABBD;
    margin-top: 68px;
    font-weight: bold;
    margin-left: 4px;
}

.myTask {
  cursor: pointer;
}

.activeTask {
  display: auto;
}

.notActiveTask {
  display: none;
}