@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
          box-shadow: $value;
}
@mixin transition($value) {
 -webkit-transition: $value;
    -moz-transition: $value;
     -ms-transition: $value;
      -o-transition: $value;
         transition: $value;
}
@mixin transform($value) {
 -webkit-transform: $value;
    -moz-transform: $value;
     -ms-transform: $value;
      -o-transform: $value;
         transform: $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

