/*---- Basic colors ---*/
$primaryColor: #666980;
$secondaryColor: #212332;
$grayColor: #A8ABBD;
$garyAlt: #D7D9E5;

/*---- Body BG color ---*/
$bodybg: #F8F8FB;

/*---- Primary link colors ---*/
$linkPrimary: #054582;
$linkPrimaryHover: #054582;
$linkPrimaryActive: #054582;

/*---- Primary button ---*/
$buttonPrimary: #CB1E1A;
$buttonPrimaryHover: #CB1E1A;
$buttonPrimaryActive: #CB1E1A;
$buttonPrimaryFade: #F3D2D2;

/*---- Secondary button ---*/
$buttonSecondary: #223979;
$buttonSecondaryHover: #223979;
$buttonSecondaryActive: #223979;


/*---- Danger/Red colors ---*/
$dangerColor: #F15139;
$dangerColorHover: #d84932;
$dangerBg: #FFDFDA;

/*---- Success/green colors ---*/
$successColor: #46B275;
$successBg: #C6EFD8;

/*---- Warning/yellow colors ---*/
$warningColor: #FFC043;
$warningBg: #FDEBC9;


$ri: #FF4A8D;
$ir: #FFB000;
$vl: #1799D5;
$lp: #00A100;