@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e916";
}
.icon-process:before {
  content: "\e918";
}
.icon-task:before {
  content: "\e919";
}
.icon-tenant:before {
  content: "\e91a";
}
.icon-info:before {
  content: "\e913";
}
.icon-timeline:before {
  content: "\e914";
}
.icon-down-angle:before {
  content: "\e911";
}
.icon-up-angle:before {
  content: "\e912";
}
.icon-right-arrow:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-f-chat:before {
  content: "\e906";
}
.icon-left-arrow:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e90c";
}
.icon-time:before {
  content: "\e90d";
}
.icon-todo:before {
  content: "\e90e";
}
.icon-users:before {
  content: "\e90f";
}
.icon-add:before {
  content: "\e904";
}
.icon-check-small:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-dashboard:before {
  content: "\e90b";
}
.icon-pen:before {
  content: "\e915";
}
.icon-reload:before {
  content: "\e917";
}
.icon-bin:before {
  content: "\e91b";
}
.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-up:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-left:before {
  content: "\e903";
}
