.start-process-item-btn {
  text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  background: #fff;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.card-item-details-content-in {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 30px 0;
  -webkit-overflow-scrolling: touch;
}

.card-item-details.card-item-add-new .card-item-details-content-in {
  padding-bottom: 30px;
}

#variablesCard {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(168, 171, 189, 0.2);
}
