.dashboardHeaderNav {
    color: #212332;
    padding: 26px 0 22px;
    display: block;
    font-size: 14px;
    position: relative;
}

.badgeStyle{
    margin-top: -5px;
    background: #a8abbd;
    color: #fff;
    padding: 0 4px;
    line-height: 14px;
    font-size: 10px;
    font-weight: 700;
    float: right;
    margin-left: 5px;
    display: block;
    height: 14px;
    border-radius: 3px;
}

.badgeStyleActive{
    background: #223979;
}
