@media (min-width:768px){
	.site-login-image{
		min-height: 100vh;
	}
	.site-footer ul{
		text-align: right;
	}
	
	
}
@media (min-width:992px){
	body:not(.page-login):not(.page-form) #main {
	    min-height: calc(100vh - 86px);
	}
	.card-item-details-head .col-xs-12:last-child{
		text-align: right;
	}

}
@media (min-width:1200px){
	.page-head-right,
	.page-filter-item-right{
		text-align: right;
	}
}
@media (min-width:1250px){

}
@media (max-width:1450px){
	.page-head-main .activity-list{
		padding-right: 40px;
	}
}
@media (max-width:1400px){
	.page-head-main .activity-list{
		padding-right: 80px;
	}
}
@media (max-width:1320px){
	.page-head-main .activity-list{
		padding-right: 100px;
	}
}
@media (max-width: 1249px){
	.tab-list,
	.page-head-main .activity-list{
		padding-right: 140px;
	}

}
@media (max-width:991px){
	.card-item-details{
		&-head{
			padding: 15px 15px 0;
			
			.card-grid-status{
				margin-right: -15px;
				padding: 9px 12px;
			}
			.tab-list{
				margin-bottom: 15px;
			}
			&-top{
				.col-xs-12{
					margin-bottom: 10px;
				}
				ul li:last-child{
					display: inline-block !important;
				}
				.activity-list{
					li{
						position: initial;
					}
					.dropdown{
						position: initial;
						&.open{
							.activity-list-item span{
								position: relative;
								&::after{
									content: "";
									border-style: solid;
									border-width: 0 12px 12px;
									border-color: transparent transparent #fff;
									position: absolute;
									left: 8px;
									bottom: -23px;
									z-index: 100000;
								}
								&::before{
									content: "";
									border-style: solid;
									border-width: 0 14px 13px;
									border-color: transparent transparent $garyAlt;
									position: absolute;
									left: 6px;
									bottom:-23px;
								}
							}
						}
					}
					.dropdown-menu{
						left: 10px;
						right: 10px;
						min-width: calc(100% - 20px);

						&::before, &::after{
							display: none;
						}
					}
				}
			}
		}
	}


}
@media (max-width:767px){
	.site-header{
		display: block;
	}
	.nav-toggle{
		display: block;
	}
	.site-login-image{
		padding: 50px 15px;

		&-in{
			font-size: 20px;
			max-width: 380px;
			h1{
				font-size: 35px;
				margin-bottom: 20px;

				br{
					display: none;
				}
			}
		}
	}
	.page-head-main .site-logo{
		position: relative;
		right: 0;
		top: 20px;
		left: 15px;
	}
	.site-login-in{
		padding: 30px 0;

		h2{
			margin: 0 0 20px;
		}
	}
	.page-head-main{
		 .site-logo{
			display: none;
		}
		h1{
			font-size: 18px;
		}
	}
	.tab-list{
		white-space: nowrap;
		overflow: auto;
		padding-right: 0;

		&::before{
			width: 100%;
		}

		ul li{
			display: inline-block;
			float: none;
		}
	}
	.page-head-main .activity-list{
		padding-right: 0;
	}
	.page-head-main{
		
	}
	.page-head-top{
		padding-top: 16px;
		h1{
			font-size: 18px;
			margin-top: 8px;
		}
		.col-xs-6{
			margin-bottom: 10px;
		}
	}
	.page-head-alt.no-bt .page-head-top{
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.dash-nav-main{
		position: fixed;
		left: 0;
		top: 0;
		width: 240px;
		height: 100%;
		@include transform(translateX(-100%));
		@include transition(all 0.3s ease);
		z-index: 10000;

		.nav-open &{
			@include transform(translateX(0));
		}
		.dash-nav{
			width: 240px;
			position: relative;
			&::before{
				width: 100%;
			}
			> ul{
				width: 100%;
				>li>a{
					text-align: left;
					padding: 0 16px;
					>i{
						vertical-align: top;
					}
					>span{
						display: inline-block;
						vertical-align: top;
					}
				}
			}

		}
		.user-info{
				width: calc(100% - 15px);
				padding-top: 15px;
				border-top: 1px solid rgba(225,235,250,0.2);

				img{
					margin-right: 15px;
					display: inline-block;
					vertical-align: middle;
				}
				span{
					display: inline-block;
					vertical-align: middle;
					color: #D4DBEF;
					font-weight: bold;
				}
			}
	}
	.page-head.floating{
		width: 100%;
	}
	#page::after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(#fff, 0.3);
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.3s ease);
	}
	.nav-open{
		#page::after{
			opacity: 1;
			visibility: visible;
		}
	}
	.page-wrap{
		width: 100%;
		float: none;
	}
	.site-footer{
		margin-left: 0;
	}
	.card-item-details{
			padding-bottom: 50px;
		&-content{
			padding-bottom: 0;
			&-in{
				padding: 16px 10px;
			}
		}
		&-head {
			padding: 15px 12px 0;
			.tab-list{
				margin: 0;
			}

			.card-item-details-head-title{
				font-size: 18px;
			}
			.activity-list{

					.dropdown{
						&.open{
							.activity-list-item span{
								&::after, &::before{
									bottom: -26px;
								}
							}
						}
					}
					.dropdown-menu{
						margin-top: 0;
					}
				}
		}
		&-head-top ul li:last-child{
			display: block !important;
			margin-top: 6px;
		}
		&-footer{
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;

			.button{
				width: 50%;
				border-radius: 0;
				float: left;
				box-shadow: none;
			}
		}
	}
	.user-list-item .user-item-name{
		margin-bottom: 15px;
	}
	.user-list-item .user-item-edit{
		text-align: left;
		margin-top: 10px;
	}
	.user-list-item-main::after{
		width: calc(100% - 20px);
	}

}
@media (max-width:600px){
	.form-section{
		margin-bottom: 10px;
		padding: 0 25px 0 15px;
		&-head{
			padding: 13px 30px 13px 0;
			span{
				font-size: 12px;
				line-height: 20px;
				padding: 0 9px;
			}
			&::before{
				width: 20px;
				height: 20px;
				line-height: 16px;
				font-size: 8px;
			}
		}
		h3{
			font-size: 14px;
		}
	}
	.card-grid-item{
		margin-bottom: 10px;
	}
	.form-files-input{
		width: 48px;
		height: 48px;
		margin-right: 18px;

		&::before{
			height: 4px;
			width: 24px;
			left: calc(50% - 12px);
			top: calc(50% - 2px);
		}
		&::after{
			height: 24px;
			width: 4px;
			left: calc(50% - 2px);
			top: calc(50% - 12px);
		}
	}
	.form-files-preview-item{
		width: 48px;
		margin-right: 18px;

		.form-files-preview-item-image{
			width: 48px;
			height: 48px;
		}
	}
}
@media (max-width:540px){
	

}
@media (max-width:400px){
	.site-login-image{
		padding: 40px 15px;
	}
	.site-login-in h2{
		margin-bottom: 15px;
	}
}
@media (max-width:321px){
	.site-login-image{
		padding: 25px 15px;
	}
	.site-login-in{
		padding: 25px 0;

		h2{
			margin: 12px 0;
			font-style: 32px;
		}
	}
}