$selectric-secondary-color: #BBB !default;                                              // Color used in button
$selectric-height:          40px !default;                                              // Outer height
$selectric-spacing:         10px !default;                                              // Label left padding
$selectric-border-width:    1px !default;                                               // Outer border width
$selectric-border-radius:   0px !default;                                               // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       12px !default;                                              // Font size

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 1px solid $garyAlt;
  border-radius: 8px;
  background: #fff;
  position: relative;
  overflow: hidden;

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 35px 0 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    height: 38px;
    user-select: none;
    color: $primaryColor;
    padding: 0;
    text-align: inherit;
  }
  .selectric-form-control-sm &{
      .label{
        height: 28px;
        line-height: 28px;
        font-size: 13px;
      }
  }
  .selectric-form-control-lg &{
      .label{
        height: 48px;
        line-height: 48px;
      }
  }
  .selectric-form-error &{
    border-color: $dangerColor;
  }
  .selectric-disabled &{
    border-color: $garyAlt;
  }

  .selectric-arrow-drop {
    position: absolute;
    right: 15px;
    font-size: 14px;
    top: calc(50% - 7px);

  }
  .button{
    position: absolute;
    right: 15px;
    font-size: 0;
    top: calc(50% - 7px);
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    width: auto;
    font-weight: normal;
    

    &::before{
      content: "\e900";
      font-family: icomoon;
      color: $primaryColor;
      font-size: 14px;
    }
    &:hover,&:focus{
      @include transform(none);
    }
  }

}

.selectric-focus .selectric {
  border-color: $linkPrimary;
}


.selectric-open {
  z-index: 9999;

  .selectric {
    border-color: $linkPrimary;
  }

  .selectric-items {
    display: block;
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  background: #fff;
  border: 1px solid $garyAlt;
  z-index: -1;
  box-shadow: 0 10px 30px 0 rgba($grayColor,0.5);
  border-radius: 8px;
  line-height: 1.25;
  font-size: 16px;
  font-weight: bold;

  /* .selectric-form-control-sm &{
    font-size: 14px;
    top: calc(100% + 20px);
  } */
  &::after{
    content: "";
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: transparent transparent #fff;
    position: absolute;
    left: 16px;
    top: -12px
  }
  &::before{
    content: "";
    border-style: solid;
    border-width: 0 14px 13px;
    border-color: transparent transparent $garyAlt;
    position: absolute;
    left: 14px;
    top: -13px
  }

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: calc(100% + 20px);
  }

  ul{
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }

  li {
    display: block;
    color: $secondaryColor;
    cursor: pointer;
    padding: 11px 45px 11px 20px;
    position: relative;
      
    &::after{
      content: "";
      width: calc(100% - 20px);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      background: $garyAlt;
    }
    &:last-child::after{
        display: none;
    }
    &::before{
      content: "\e909";
      font-family: 'icomoon';
      font-size: 16px;
      color: $successColor;
      position: absolute;
      right: 20px;
      top: calc(50% - 8px);
      opacity: 0;
      @include transition(all 0.3s ease);
    }

    &.selected {
      //background: $buttonPrimaryFade;
      &::before{
        opacity: 1;
      }
    }

    &.highlighted {
      //background: $buttonPrimaryFade;
    }

    &:hover {
      //background: $garyAlt;
    }
  }
  .selectric-form-control-multiple &{



      li{
        padding-right: 20px;
        padding-left: 60px;

        &::after{
          width: calc(100% - 60px);
        }
        &::before{
          content: "";
          color: #fff;
          position: absolute;
          right: auto;
          left: 20px;
          top: calc(50% - 10px);
          opacity: 1;
          @include transition(all 0.3s ease);
          width: 20px;
          height: 20px;
          border: 1px solid $garyAlt;
          font-size: 8px;
          line-height: 18px;
          text-align: center;
          border-radius: 5px;
        }
        &.selected {
          
          &::before{
            content: "\e909";
            border-color: $buttonSecondary;
            background: $buttonSecondary;
          }
        }
      }
  
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}
.selectric-form-control-sm .selectric-above .selectric-items {
  bottom: calc(100% + 5px);
}
