@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
          box-shadow: $value;
}
@mixin transition($value) {
 -webkit-transition: $value;
    -moz-transition: $value;
     -ms-transition: $value;
      -o-transition: $value;
         transition: $value;
}
@mixin transform($value) {
 -webkit-transform: $value;
    -moz-transform: $value;
     -ms-transform: $value;
      -o-transform: $value;
         transform: $value;
}

html{
	height: 100%;
}
body{
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $primaryColor;
	height: 100%;
	font-size: 16px;
	background: $bodybg;

	&.page-login{
		background: #fff;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5{
	font-weight: 600;
	line-height: 1.25;
	color: $secondaryColor;
}
label{
	font-weight: 600;
}
.color-success{
	color: $successColor;
}
.color-danger{
	color: $dangerColor;
}
.color-warning{
	color: $warningColor;
}

a{
	color: $linkPrimary;
	@include transition(all 0.3s ease);

	&:hover, &:focus{
		color: $linkPrimaryHover;
	}

	&:active{
		color: $linkPrimaryActive;
	}
}
img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

#page{
	@include transition(all 0.3s ease);
	position: relative;
	overflow: hidden;
	min-height: 100%;

	.page-login & {
		padding: 0;
	}

	body.modal-open &{
		filter: blur(10px);
		-webkit-filter: blur(10px);
	}
}
.site-main{
	&::after{
		content: "";
		display: table;
		clear: both;
	}
}
body.modal-open{
	padding-left: 0;
	padding-top: 0;
}


.button{
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.285;
	padding: 20px 30px;
	border-radius: 8px;
	@include transition(all 0.3s ease);
	text-align: center;

	&:hover, &:focus{
		@include transform(translateY(-2px));
	}

	&:hover, &:focus{
		text-decoration: none;
	}
	&-md{
		padding: 15px 30px;
	}
	&-sm{
		padding: 11px 20px;
		font-size: 12px;
	}
	&-xsm{
		padding: 6px 12px;
		font-size: 12px;
	}
	&-primary{
		background: $buttonPrimary;
		border: 1px solid $buttonPrimary;
		color: #fff;
		box-shadow: 0 10px 30px -10px $buttonPrimary;

		&:hover, &:focus{
			background: $buttonPrimaryHover;
			color: #fff;
		}

		&:active{
			background: $buttonPrimaryActive;
			color: #fff;
		}

		&.button-sm{
			box-shadow: 0 10px 20px -10px rgba($buttonPrimary, 0.5);
		}
	}
	
	&-primary-alt{
		background: none;
		border: 2px solid $buttonPrimary;
		color: $buttonPrimary;
		padding-top: 19px;
		padding-bottom: 19px;

		&:hover, &:focus{
			background: $buttonPrimaryHover;
			color: #fff;
		}
		&:active{
			background: $buttonPrimaryActive;
			color: #fff;
		}

		&.button-md{
			padding-top: 14px;
			padding-bottom: 14px;
		}
		&.button-sm{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&.button-xsm{
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	&-primary-alt-2{
		background: $buttonPrimaryFade;
		border-color: $buttonPrimaryFade;
		color: $buttonPrimary;

		&:hover, &:focus{
			background: $buttonPrimaryHover;
			border-color: $buttonPrimaryHover;
			color: #fff;
		}
		&:active{
			background: $buttonPrimaryActive;
			border-color: $buttonPrimaryActive;
			color: #fff;
		}
	}
	&-secondary{
		background: $buttonSecondary;
		border: 2px solid $buttonSecondary;
		color: $buttonPrimary;
		padding-top: 19px;
		padding-bottom: 19px;

		&:hover, &:focus{
			border-color: $buttonPrimaryHover;
			background: $buttonSecondary;
			color: $buttonPrimary;
		}
		&:active{
			border-color: $buttonPrimaryActive;
			background: $buttonSecondary;
			color: $buttonPrimary;
		}
		&.button-md{
			padding-top: 14px;
			padding-bottom: 14px;
		}
		&.button-sm{
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}
	
	&-secondary-alt{
		background: $buttonPrimary;
		border: 2px solid $buttonPrimary;
		color: $buttonSecondary;
		padding-top: 19px;
		padding-bottom: 19px;

		&.button-md{
			padding-top: 14px;
			padding-bottom: 14px;
		}
		&.button-sm{
			padding-top: 9px;
			padding-bottom: 9px;
		}
		&:hover, &:focus{
			border-color: $buttonPrimaryHover;
			background: $buttonPrimaryHover;
			color: $buttonSecondary;
		}
		&:active{
			border-color: $buttonPrimaryActive;
			background: $buttonPrimaryActive;
			color: $buttonSecondary;
		}
	}
	&-delete{
		background: $dangerColor;
		border: 1px solid $dangerColor;
		color: #fff;
		box-shadow: 0 10px 30px -10px $dangerColor;

		&:hover, &:focus{
			background: $dangerColorHover;
			color: #fff;
		}
		&:active{
			background: $dangerColorHover;
			color: #fff;
		}

	}
	&-delete-alt{
		background: none;
		border: 2px solid $dangerColor;
		color: $dangerColor;
		padding-top: 19px;
		padding-bottom: 19px;

		&.button-md{
			padding-top: 14px;
			padding-bottom: 14px;
		}
		&.button-am{
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}
	i{
		margin-right: 15px;
		display: inline-block;
		vertical-align: middle
	}
	&-load-more{
		border-radius: 30px;
		border: 2px solid $grayColor;
		color: $buttonPrimary;
		padding-top: 14px;
		padding-bottom: 14px;

		&:hover, &:focus{
			border-color: $buttonPrimary;
			background: $buttonPrimaryFade;
			color: $buttonPrimary;
			@include transform(none);
		}		

		&.loading i{
			animation: rotate 1s infinite linear;
		}
	}

}

.flex-row,
.flex-main{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-row{
	margin: 0 -15px;
	&-s{
		margin: 0 -10px;
	}
}
.flex-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex-inner{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-grow: 1;
     -webkit-flex-grow: 1;
}
.flex-grow{
	flex-grow: 1;
    -webkit-flex-grow: 1;
}
.flex-center{
	align-items: center;
}
.flex-grid-center{
	justify-content: center;
}
.flex-reverse{
	flex-direction: row-reverse;
}




/*------ login page ----*/

.site-header{
	padding: 10px 0;
	display: none;
	background: #fff;
	position: relative;

	&::after{
		content: "";
		width: 100%;
		height: 10px;
		position: absolute;
		left: 0;
		bottom: -10px;
		background: rgba($grayColor,0.3);
		background: linear-gradient(0deg, rgba($grayColor,0) 0%, rgba($grayColor,0.3) 100%);
		z-index: 2;
	}

	img{
		max-width: 70px;
		float: right;
	}
	.page-login &{
		padding: 15px;

		&::after{
			display: none;
		}

		img{
			float: none;
		}
	}
} 
.nav-toggle{
	background: $buttonSecondary;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	display: none;
	float: left;
	position: relative;
	cursor: pointer;

	span{
		display: block;
		width: 12px;
		background: #fff;
		border-radius: 6px;
		height: 2px;
		position: absolute;
		left: calc(50% - 6px);
		top: calc(50% - 1px);

		&::before, &::after{
			content: "";
			width: 100%;
			background: #fff;
			border-radius: 6px;
			height: 2px;
			position: absolute;
			left: 0;
			top: -4px;
		}
		&::after{
			width: 50%;
			top: auto;
			bottom: -4px;
		}
	}
}
.container-fluid{
	max-width: 1200px;
}
.page-login{
	position: relative;


	.container-fluid{
		max-width: 100%;
		padding: 0;
	}
	/* .flex-main{
		align-items: center;
	} */
}

.site-login-image-wrap{
	padding: 0;
}
.site-login-image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 142px 30px 50px;
	height: 100%;
	font-size: 0;
	letter-spacing: 0;

	/* &::after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 1px;

	}
	&-main{
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 1px);
	} */
	&-in{
		max-width: 468px;
		margin: 0 auto;
		color: #fff;
		font-size: 24px;
		font-weight: 300;

		h1{
			font-size: 64px;
			line-height: 1.25;
			margin: 0 0 30px;
			color: #fff;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
}
.site-login{
	max-width: 380px;
	width: 100%;
	margin: 0 auto;

	&-in{
		padding: 50px 0;
	}

	h2{
		font-size: 36px;
		margin: 52px 0 30px;
	}
	a{
		font-weight: 600;
	}
}
.form{
	&-group{
		margin-bottom: 20px;

		label{
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
	&-control{
		border-color: $garyAlt;
		height: 40px;
		border-radius: 8px;
		padding: 6px 12px;
		box-shadow: none;
		font-weight: bold;

		&:focus{
			outline: none;
			border-color: $linkPrimary;
			box-shadow: none;
		}
		&-sm{
			height: 30px;
			font-size: 13px;
		}
		&.form-error{
		border-color: $dangerColor;
		}
		&[disabled]{
			border-color: $garyAlt;
			opacity: 0.5;
			background: #fff;
		}
	}
}
label[disabled]{
	opacity: 0.5;
}
.form-error-message{
	display: block;
	color: $dangerColor;
	font-size: 12px;
	font-weight: 600;
	margin-top: 5px;
	line-height: 1.25;
}
textarea.form-control{
	height: 120px;
}
.login-form{
	margin-bottom: 30px;

	.button{
		width: 100%;
	}
	.form-control{
		height: 50px;
	}
}

.dash-nav{
	position: fixed;
	left: 0;
	top: 0;
	background: $buttonSecondary;
	width: 80px;
	z-index: 101;
	padding-top: 15px;
	padding-bottom: 100px;
	z-index: 10000;

	&-main{
		float: left;
		width: 80px;
		min-height: 1px;
		height: calc(100vh - 84px);
		position: relative;

		.user-info{
			position: fixed;
			left: 15px;
			bottom: 30px;
			z-index: 10000;
			
			&-in{
				
			}
			img{
				border-radius: 50%;
				width: 50px;
			}
			span{
				display: none;
			}
		}
	}

	&.sticky{
		position: fixed;

		&.bottom{
			top: auto;
			bottom: 0;
		}
		> ul{

			ul.sub-menu{
				position: fixed;
				top: 0;
				height: 100%;
				overflow: auto;
			}
		}
	}
	&::before{
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		background: $buttonSecondary;
		width: 80px;
		height: 100%;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	> ul{
			width: 80px;
			height: 100%;
			position: relative;

		> li{
			padding: 0 10px;
			margin-bottom: 10px;

			> a{
				display: block;
				font-size: 30px;
				color: #fff;
				height: 60px;
				border-radius: 8px;
				text-align: center;
				line-height: 60px;
				text-decoration: none;

				&:hover, &:focus{
					background: rgba($secondaryColor, 0.4);
				}

				i{
					line-height: 60px;
				}
				> span{
					display: none;
					color: #D4DBEF;
					font-size: 12px;
					font-weight: bold;
					margin-left: 15px;
				}
			}

			&.active > a{
				background: rgba($secondaryColor, 0.4);
			}
		}
		ul.sub-menu{
			position: absolute;
			left: 80px;
			top: -15px;
			width: 250px;
			height: calc(100% + 15px);
			background: #fff;
			box-shadow: 6px 3px 10px 0 rgba($garyAlt,0.5);
			padding: 30px;
		}
		
	}
	.sub-menu-inner{
		h2{
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 10px;
		}
		ul{
			margin-bottom: 30px;

			li{
				a{
					font-weight: normal;
					font-size: 10px;
					color: $primaryColor;
					line-height: 1.3;
					padding: 20px 50px 20px 0;
					margin-right: -30px;
					border-bottom: 1px solid $garyAlt;
					text-transform: uppercase;
					text-decoration: none;
					display: block;
					position: relative;

					span{
						display: inline-block;
						text-transform: none;
						margin-top: 5px;
						font-size: 14px;
						font-weight: bold;
						color: $linkPrimary;
						position: relative;
						padding-bottom: 4px;

						&::after{
							content: "";
							width: 0%;
							height: 1px;
							left: 50%;
							bottom: 0;
							position: absolute;
							background: $linkPrimary;
							@include transition(all 0.3s ease);
						}
					}
					&:hover span::after{
						width: 100%;
						left: 0;
					}
					&::after{
						content: "\e902";
						font-family: icomoon;
						font-size: 14px;
						color: $grayColor;
						position: absolute;
						right: 30px;
						bottom: 24px;
					}
				}
			}
		}
		.button{
			width: 100%;
			text-transform: none;
			text-align: left;
		}
	}
	&.dash-nav-inner{
		//background: $buttonPrimary;
		&::before{
			background: $buttonPrimary;
		}
		> ul{

			>li{
				padding: 0;
				margin-bottom: 10px;

				>a{
					height: 66px;
					line-height: 66px;
					border-radius: 0;

					&:hover, &:focus{
						background: $buttonPrimaryHover;
					}
					i{
						line-height: 66px;
					}

				}
				&.active > a{
					background: #fff;
					color: $buttonPrimary;
				}
			}
		}
	}
}

.page-fixed-nav{
	position: relative;
}
.page-wrap{
	float: left;
	width: calc(100% - 80px);
	position: relative;

	.page-form &{
		padding-left: 250px;
	}
}
.page-content-main{
	padding: 20px 0;

	&.page-dash-main{
		padding: 60px 0;
	}
}
.page-head{
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	

	&-alt{
		width: 100%;
		z-index: 1000;
		&.no-bt{
			.page-head-top{
				padding-bottom: 30px;
			}
			.page-head-bottom{
				padding-bottom: 0;
			}
		}
	}
	&.floating{
		position: fixed;
		transform: translateY(-100%);
		right: 0;
		top: 0;
		background: #fff;
		width: calc(100% - 80px);

		&::after{
			content: "";
			width: 100%;
			height: 15px;
			position: absolute;
			left: 0;
			bottom: -15px;
			background: $grayColor;
			background: linear-gradient(0deg, rgba($grayColor,0) 0%, rgba($grayColor,1) 100%);
			opacity: 0.2;
		}
		.page-head-main{
			position: absolute;
			left: 0;
			top: 0;
			transform: translateY(-100%);
			@include transition(all 0.3s ease);
			z-index: 99;
		}
		.page-head-alt{

			.page-head-top{
				position: relative;
				z-index: 100;
				background: #fff;
			}
			.page-head-bottom{
				position: absolute;
				left: 0;
				top: 0;
				transform: translateY(-100%);
				@include transition(all 0.3s ease);
				z-index: 99;
			}
		}
			
	}
	&.sticky{
		transform: translateY(0);
		@include transition(all 0.3s ease);
	}
	&.scrolled{
		.page-head-main{
			position: relative;
				transform: translateY(0);
		}
		.page-head-alt{
			.page-head-bottom{
				position: relative;
				transform: translateY(0);
			}
		}
	}

	&-main{
		position: relative;

		.site-logo{
			position: absolute;
			right: 30px;
			top: 21px;
			max-width: 80px;
		}
		h1{
			font-size: 32px;
			margin: 16px 0 0;

			&.alt{
				font-size: 24px;
				display: inline-block;

				a{
					text-decoration: none;
				}
				i{
					font-size: 16px;
					margin-right: 10px;
					color: $grayColor;
					display: inline-block;
					vertical-align: middle;
				}
				span{
					background: $buttonSecondary;
					color: #fff;
					padding: 0 4px;
					line-height: 14px;
					font-size: 10px;
					font-weight: bold;
					float: right;
					margin-left: 5px;
					display: block;
					height: 14px;
					border-radius: 3px;
				}
			}
		}
		.activity-list{
			padding-top: 10px;
		}
	}
	&-top{
		padding-top: 29px;
		&:empty{
			padding-top: 15px;
		}

		.col-xs-6{
			margin-bottom: 20px;
		}
		h1{
			font-size: 32px;
			margin: 0;
		}
	}
	&-bottom{
		padding-bottom: 10px;
	}
}
.tab-list{
	position: relative;

	&::before{
		content: "";
		width: 500%;
		height: 1px;
		background: $garyAlt;
		position: absolute;
		left: 0;
		bottom: 0;
		
	}
	&::after{
		content: "";
		display: table;
		clear: both;
	}
	> ul{
		list-style: none;
		padding: 0;
		margin: 0;

		> li{
			float: left;
			margin-right: 28px;

			> a{
				color: $secondaryColor;
				padding: 26px 0 22px;
				display: block;
				font-size: 14px;
				position: relative;
				text-decoration: none;

				&::after{
					content: "";
					width: 0;					
					height: 2px;
					background: $buttonSecondary;
					left: 50%;
					bottom: 0;
					position: absolute;
					@include transition(all 0.3s ease);
				}
				&:hover{
					text-decoration: none;

					&::after{
						width: 100%;
						left: 0;
					}
				}
				span{
					margin-top: -5px;
					background: $grayColor;
					color: #fff;
					padding: 0 4px;
					line-height: 14px;
					font-size: 10px;
					font-weight: bold;
					float: right;
					margin-left: 5px;
					display: block;
					height: 14px;
					border-radius: 3px;
				}
			}
			&.active a{
				font-weight: bold;
				&::after{
					width: 100%;
					left: 0;
				}
				span{
					background: $buttonSecondary;
				}
			}
		}
	}
}
.page-head-right{
	text-align: right;
}
.activity-list{
	margin-bottom: 0;

	li{
		vertical-align: top;
		position: relative;

		> ul{
			position: absolute;
			top: 100%;
			left: 5px;
			opacity: 0;
			visibility: hidden;
			z-index: 10;

			li{
				margin-top: 10px;
			}
		}
		&.open{
			> ul{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.activity-list-item{
		display: block;
		width: 40px;
		height: 40px;
		border: 2px solid $buttonPrimaryFade;
		border-radius: 50%;
		line-height: 36px;
		text-align: center;
		font-size: 19px;
		color: $buttonPrimary;
		text-decoration: none;
		cursor: pointer;
		position: relative;
		background: #fff;
		@include transition(all 0.3s ease);

		span{
			display: block;
			width: 100%;
			height: 100%;
		}

		&:hover, &:focus{
			background: $buttonPrimary;
			color: #fff;
			border: 2px solid $buttonPrimary;
			box-shadow: 0 5px 10px -5px $buttonPrimary;
			margin-top: -2px;
		}

		&.searchitem{
			border-color: $garyAlt;
			border-width: 1px;
			line-height: 38px;
			color: $grayColor;
			font-size: 16px;

			&:hover, &:focus{
				color: #fff;
				border-color: $buttonPrimary;
			}
			&.on i::before{
				content: "\e90a";
				font-size: 12px;
			}
		}

		.date-picker{
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
		}
		&.activity-list-trigger{
			line-height: 26px;

			&:hover,
			&:focus{
				margin:0;
				.list-stcak{
					background: #fff;

					&::before, &::after{
						background: #fff;
					}
				}
			}

			~ ul li .activity-list-item{
				background: $buttonPrimary;
				color: #fff;
				border: 2px solid $buttonPrimary;
			}

		}
		.list-stcak{
			position: relative;
			width: 3px;
			height: 3px;
			display: inline-block;
			border-radius: 50%;
			background: $buttonPrimary;

			&::before, &::after{
				content: "";
				width: 3px;
				height: 3px;
				position: absolute;
				left: 0;
				top: -6px;
				border-radius: 50%;
				background: $buttonPrimary;
			}
			&::after{
				top: auto;
				bottom: -6px;
			}
		}
	}
	
}
.page-filter-item{
	> ul{
	
		> li{
			vertical-align: top;
			margin-bottom: 10px;
		}
	}
	.selectric-form-control,
	.form-control{
		width: 150px;
	}
	select[multiple]{
		height: 50px;

		&.form-control-sm{
			height: 30px;
		}
	}
	.selectric-items{
		min-width: 240px;
	}
	.selectric-form-control-multiple .selectric-items{
		min-width: 280px;
	}
	&-right{
		li{
			text-align: left;
		}
		.selectric-form-control{
			width: 120px;
		}
	}
	&-search{
		position: relative;

		i{
			position: absolute;
			left: 10px;
			top: calc(50% - 8px);
			font-size: 16px;
			color: $grayColor;
		}
		input{
			padding-left: 36px;
			max-width: 200px;
		}
		&-main{
			display: none;
			padding-bottom: 12px;
			input{
				max-width: 100%;
			}
		}
	}
}
.dropdown{
	&-label{
		display: block;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    padding: 0 35px 0 15px;
	    font-size: 16px;
	    font-weight: bold;
	    line-height: 40px;
	    height: 40px;
	    user-select: none;
	    color: $primaryColor;
	    border: 1px solid $garyAlt;
		border-radius: 8px;
		background: #fff;
		position: relative;
		cursor: pointer;
		text-align: left;

		i{
			position: absolute;
		    right: 15px;
		    font-size: 14px;
		    top: calc(50% - 7px);
		    padding: 0;
		    background: none;
		    border: none;
		    color: #fff;
		    width: auto;
		    font-weight: normal;
		    color: $primaryColor;
		}
		&:hover,
		&:focus{
			outline: none;
			text-decoration: none;
			color: $primaryColor;
		}
	}
	&.open{
		.dropdown-label{
			border-color: $buttonSecondary;
		}
	}
	&-sm{
		.dropdown-label{
			height: 30px;
	        line-height: 30px;
	        font-size: 13px;
		}
	}
	&-menu{
		margin-top: 20px;
		box-shadow: 0 10px 30px 0 rgba($grayColor,0.5);
		border-radius: 8px;
		line-height: 1.25;
		font-size: 16px;
		font-weight: bold;
		background: #fff;
		border: 1px solid $garyAlt;

		&::after{
			content: "";
			border-style: solid;
			border-width: 0 12px 12px;
			border-color: transparent transparent #fff;
			position: absolute;
			left: 16px;
			top: -12px
		}
		&::before{
			content: "";
			border-style: solid;
			border-width: 0 14px 13px;
			border-color: transparent transparent $garyAlt;
			position: absolute;
			left: 14px;
			top: -13px
		}
		&.pull-right{
			&::after{
				left: auto;
				right: 16px;
			}
			&::before{
				left: auto;
				right: 14px;
			}
		}
		li {
		    display: block;
		    padding: 0;
		    color: $secondaryColor;
		    cursor: pointer;
		    padding: 20px;
		    position: relative;
		      
		    &::after{
		      content: "";
		      width: calc(100% - 20px);
		      position: absolute;
		      bottom: 0;
		      right: 0;
		      height: 1px;
		      background: $garyAlt;
		    }
		    &:last-child::after{
		        display: none;
		    }
		    > a{
		    	padding: 20px;
		    	margin: -20px;
		    }
		    &.active a{
		    	background: $garyAlt;

		    	&:hover,
		    	&:focus{
		    		background: $garyAlt;
		    	}
		    }
		}
		&.invoice-slider{
			padding: 20px;
			min-width: 300px;

			label{
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 18px;
				color: $secondaryColor;
			}
		}
		h2{
			font-size: 18px;
			font-weight: bold;
			border-bottom: 1px solid rgba($grayColor, 0.4);
			padding: 20px 20px 20px 0;
			margin: 0 0 0 20px;
		}
		.drop-inner-wrap{
			padding: 0 20px;
		}
		.button{
			width: 100%;
			box-shadow: none;
		}
		&.dropdown-menu-user{
			min-width: 300px;
			padding-bottom: 16px;

			
			ul{
				margin-bottom: 25px;
				padding: 0;
				list-style: none;

				li{
					padding-left: 0;
					padding-bottom: 0;

					&::after{
						width: calc(100% - 110px);
					}
					&:last-child::after{
				        display: block;
				    }

					label{
						margin-bottom: 0;
						display: block;
					}
					.input-check{
						display: block;
						padding-left: 20px;

						span{
							display: block;
							overflow: hidden; 
						}
						img{
							float: left;
							margin-right: 20px;
							border-radius: 8px;
							width: 40px;
						}
					}
				}
			}
		}
		&.dropdown-menu-write-a-note{
			min-width: 300px;
			padding-bottom: 16px;

			h2{
				margin-bottom: 20px;
			}
			.form-group{
				margin-bottom: 10px;
			}
		}
		&.dropdown-menu-info{
			min-width: 500px;
			font-size: 16px;
			line-height: 1.5;
			font-weight: normal;
			
			h2{
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 24px;
			}
		}
		&.dropdown-timeline{
			min-width: 500px;

			h2{
				margin-bottom: 20px;
			}
			.task-history{
				margin: 0;

				img{
					float: left;
					width: 50px;
					border-radius: 50%;
					margin-right: 15px;
				}
				&-main{
					overflow: hidden;
					padding-bottom: 20px;
					margin: 0 20px 20px;
					border-bottom: 1px solid rgba($grayColor, 0.4);
				}
				&-in{
					overflow: hidden;

					h3{
						font-size: 18px;
						margin: 0 0 5px;
					}
					p{
						font-size: 14px;
						color: $grayColor;
						font-weight: 600;
						margin-bottom: 0;

						span{
							float: right;
						}
					}
				}
			}
		}
	}
}
.mobile-filter-main{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	padding: 15px;
	background: #fff;
	@include transition(all 0.3s ease);

	.filter-open &{
		opacity: 1;
		visibility: visible;
	}

	.filter-close{
		display: inline-block;
		text-decoration: none;
		color: $grayColor;
		margin-bottom: 10px;
	}
	h2{
		font-size: 18px;
		margin: 0 0 13px;
	}
	button{
		width: 100%;
	}
}
.filter-btn{
	display: inline-block;
	line-height: 28px;
	border: 1px solid rgba($grayColor, 0.2);
	background: $garyAlt;
	padding: 0 10px;
	border-radius: 5px;
	color: $primaryColor;
	font-weight: bold;
	font-size: 13px;
}
.filter-btn:hover,
.filter-btn:focus{
	text-decoration: none;
	opacity: 0.8;
	color: $primaryColor;
}
.and-or-switch{
	display: inline-block;
	border: 1px solid rgba($grayColor, 0.2);
	background: $garyAlt;
	line-height: 28px;
	border-radius: 5px;
	color: $primaryColor;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	cursor: pointer;
	
	&-in{
		span{
			display: inline-block;
			width: 46px;
			height: 100%;
			position: relative;
			text-align: center;
			@include transition(all 0.3s ease);

			&:first-of-type{
				color: #fff;
			}
		}
		&::before{
			content: "";
			width: 46px;
			background: $buttonSecondary;
			border: 1px solid $buttonSecondary;
			border-radius: 5px;
			position: absolute;
			left: -1px;
			top: -1px;
			bottom: -1px;
			box-shadow: 0 5px 10px 0 rgba($buttonSecondary, 0.5);
			@include transition(all 0.3s ease);
		}
	}
	
	
	input{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&:checked{
			~ .and-or-switch-in{
				span{
					color: #fff;
					&:first-of-type{
						color: $primaryColor;
					}
				}
				&::before{
					left: calc(100% - 45px);
				}
			}
		}
	}
}

.page-content-main{
	padding: 30px 0;
}
.input-check{
	display: inline-block;
	position: relative;

	> span{
		min-height: 20px;
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		line-height: 20px;	

		&::before{
			content: "";
			width: 20px;
			height: 20px;
			background: #fff;
			border: 1px solid $garyAlt;
			border-radius: 5px;
			position: absolute;
			left: 0;
			top: calc(50% - 10px);
		}

		&::after{
			content: "\e909";
			font-family: icomoon;
			font-size: 8px;
			color: #fff;
			text-align: center;
			line-height: 20px;
			background: $linkPrimary;
			border-radius: 5px;
			position: absolute;
			left: 0;
			top: calc(50% - 10px);
			width: 20px;
			height: 20px;
			opacity: 0;
			@include transition(all 0.1s ease);
		}
	}
	input{
		position: absolute;
		opacity: 0;
		
		&:checked + span::after{
			opacity: 1;
		}
	}
}

.input-radio{
	display: inline-block;
	position: relative;

	> span{
		min-height: 20px;
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		line-height: 20px;

		&::before{
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid $grayColor;
			border-radius: 50%;
			background: #fff;
			position: absolute;
			left: 0;
			top: calc(50% - 10px);
		}

		&::after{
			content: "";
			text-align: center;
			position: absolute;
			left: 0;
			top: calc(50% - 10px);
			width: 20px;
			height: 20px;
			opacity: 0;
			border: 5px solid $linkPrimary;
			@include transition(all 0.1s ease);
			border-radius: 50%;
		}
	}
	input{
		position: absolute;
		opacity: 0;
		
		&:checked + span::after{
			opacity: 1;
		}
	}
}
.page-list-label{
	font-size: 14px;
	font-weight: 600;
	color: $grayColor;
	line-height: 1.28;

	&.form-label{
		margin-bottom: 6px;
		display: block;
	}
}
.card-grid{
	&-item{
		position: relative;
		background: #fff;
		border-radius: 8px;
		margin-bottom: 30px;
		box-shadow: 0 5px 10px 0 rgba($grayColor, 0.2);
		font-weight: normal;
		@include transition(all 0.3s ease);

		&:hover, &:focus{
			@include transform(translateY(-2px));
			box-shadow: 0 5px 20px 0 rgba($grayColor, 0.2);
			text-decoration: none;

		}
		.input-check, .input-radio{
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}
	&-content{
		padding: 20px; 
		overflow: hidden;
	}
	&-content-inner{

		h3{
			font-size: 18px;
			margin: 0 0 20px;
			padding-right: 25px;
			font-weight: bold;
		}
	}
	&-assignee{
		padding-top: 15px;
		overflow: hidden;
		margin-bottom: -10px;

		img{
			float: left;
			width: 30px;
			border-radius: 8px;
			margin-right: 10px;
		}
		&-in{
			overflow: hidden;
			font-size: 12px;
			list-style-image: 1.25;
			font-weight: 600;
			color: $secondaryColor;

			span{
				display: block;
				font-size: 10px;
				text-transform: uppercase;
				color: $grayColor;
				line-height: 1.3;
				font-weight: normal;
			}
		}
	}
	&-content-detail{
		margin-bottom: 0;

		li{
			margin-right: 30px;
			font-size: 14px;
			color: $secondaryColor;
			font-weight: 600;
			line-height: 1.3;

			span{
				display: block;
				text-transform: uppercase;
				font-size: 10px;
				color: $grayColor;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}

	&-status{
		display: inline-block;
		line-height: 1;
		border-radius: 15px 0 0 15px;
		padding: 9px 20px;
		font-size: 12px;
		font-weight: 800;
		float: right;

		&-ri{
			background: rgba($ri,0.2);
			color: $ri;
		}
		&-ir{
			background: rgba($ir,0.2);
			color: $ir;
		}
		&-vl{
			background: rgba($vl,0.2);
			color: $vl;
		}
		&-lp{
			background: rgba($lp,0.2);
			color: $lp;
		}
	}
	&-footer{
		padding: 0 0 20px 20px;

		&-inner{
			overflow: hidden;
		}
		&-content{
			overflow: hidden;
			font-weight: 600;
			line-height: 1.25;

			.card-grid-staus-time{
				float: left;
				color: $grayColor;
				font-size: 12px;
				font-style: italic;
				font-weight: 600;
				line-height: 30px;
			}
		}
	}
}
.range-slider{
	&-value{
		font-size: 10px;
		flex-wrap: 600;
		color: $grayColor;
		margin-top: 10px;
		float: left;

		&-fi{
			float: right;
		}
	}
}
html.card-open{
	overflow: hidden;

	#page{
		height: 100%;
	}
}
.card-item-details{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	max-width: 1000px;
	width: 100%;
	background: $bodybg;
	@include transform(translateX(100%));
	@include transition(all 0.3s ease);

	&.item-open{
		@include transform(translateX(0));
		
		
	}


	&-wrap{
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		@include transition(all 0.1s ease 0.3s);
		opacity: 0;
		visibility: hidden;
		z-index: 99999;

		&::before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background: rgba($secondaryColor, 0.7);
			@include transition(all 0.3s ease);
			opacity: 0;
		}

		&.open{
			@include transition(none);
			opacity: 1;
			visibility: visible;

			&::before{
				opacity: 1;
			}
		}
	}

	&-head{
		padding: 25px 30px 0;
		background: #fff;
		position: relative;

		&::after{
			content: "";
			width: 100%;
			height: 15px;
			position: absolute;
			left: 0;
			bottom: -15px;
			background: $grayColor;
			background: linear-gradient(0deg, rgba($grayColor,0) 0%, rgba($grayColor,1) 100%);
			opacity: 0.2;
		}

		.card-item-details-head-title{
			font-size: 24px;
			margin: 0 0 16px;

			i{
				font-size: 16px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				color: $grayColor;
				cursor: pointer;
			}
		}

		
		.card-grid-status{
			margin-right: -30px;
			float: none;
			display: inline-block;
			vertical-align: middle;
		}
		&-top{
			ul{
				display: inline-block;
				vertical-align: middle;
				margin-right: 16px;
				
				li{
					text-align: left;
					vertical-align: middle;

					> p{
						margin: 0;
						font-size: 12px;
						font-weight: 600;
						font-style: italic;
						color: $grayColor;
					}
				}
			}
			.col-xs-12{
				margin-bottom: 30px;
			}
		}
		&-bottom{
			ul{
				.button{
					min-width: 90px;
					box-shadow: none;
				}
			}
			.tab-list{
				padding-right: 0;

				>ul >li >a{
					padding-top: 0;
				}
				&::before{
					display: none;
				}
			}
		}
	}
	&-content{
		padding-bottom: 30px;

		&-in{
			height: 100%;
			overflow-y: auto;
			padding: 30px 30px 0;
			-webkit-overflow-scrolling: touch;
		}
	}
	&.card-item-add-new{
		max-width: 400px;
		background: #fff;

		.card-item-details-content{
			height: calc(100% - 71px);

			.button{
				width: 100%;
			}
		}
		.card-item-details-head-title{
			margin: 0;
			
		}
		.card-item-details-head{
			padding: 16px 10px 20px;

			&::after{
				display: none;
			}
		}
		.card-item-details-content-in{
			padding-bottom: 30px;
		}
		ul button{
			min-width: 150px;
		}
	}

}
.form{
	&-section{
		background: #fff;
		border: 1px solid $garyAlt;
		box-shadow: 0 10px 30px -15px $garyAlt;
		margin-bottom: 30px;
		border-radius: 8px;
		padding: 0 30px;

		&:last-child{
			margin-bottom: 0;
		}

		h3{
			font-size: 18px;
			color: $grayColor;
			margin: 0;
		}
		&-head{
			padding: 20px 30px 20px 0;
			position: relative;
			cursor: pointer;

			&::before{
				content: "\e911";
				font-family: icomoon;
				font-size: 12px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 2px solid $secondaryColor;
				line-height: 26px;
				text-align: center;
				color: $secondaryColor;
				position: absolute;
				right: -10px;
				top: calc(50% - 15px);
				@include transition(all 0.3s ease);
			}
			&.on{
				&::before{
					@include transform(rotate(180deg));
				}
			}
			h3{
				float: left;
				margin-top: 4px;
			}
			span{
				float: right;
			}
		}
		&-content{
			display: none;
		}
		.form-group{
			margin-bottom: 30px;

			label{
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			&-repeat{
				padding-right: 54px;
				position: relative;
				border-bottom: 1px solid $garyAlt;
				margin-bottom: 30px;

				&-delete{
					position: absolute;
					right: 0;
					top: 30px;
					font-size: 24px;
					color: $grayColor;
					text-decoration: none;
				}
				&:first-child{
					.form-group-repeat-delete{
						display: none;
					}
				}
			}
		}
	}
	&-notification{
		text-align: right;
		font-weight: 600;

		i{
			font-size: 23px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
		}
	}
	&-date{
		font-size: 0;
		letter-spacing: 0;
		margin-right: -1px;

		&-part{
			display: inline-block;
			width: 33.3333%;
			margin-right: -1px;

			.selectric{
				border-radius: 0;
			}
			&:first-child{
				.selectric{
					border-radius: 8px 0 0 8px;
				}
			}
			&:last-child{
				margin-right: 0;

				.selectric{
					border-radius: 0 8px 8px 0;
				}
			}


			select{
				font-size: 16px;
			}
		}
	}
	&-mobile{
		position: relative;
		padding-left: 77px;

		&-code{
			position: absolute;
			left: 0;
			top: 0;
			width: 78px;

			.selectric{
				border-radius: 8px 0 0 8px;
			}
		}
		.form-control{
			border-radius: 0 8px 8px 0;
			position: relative;

			&:focus{
				z-index: 10;
			}
		}
	}
	&-list{
		li{
			margin-right: 5px;

			&:last-child{
				margin-right: 0;
			}
		}
	}
	&-files{

		&-input{
			display: inline-block;
			vertical-align: top;
			position: relative;
			border: 2px solid $buttonPrimary;
			border-radius: 8px;
			width: 100px;
			height: 100px;
			text-align: center;
			line-height: 100px;
			cursor: pointer;
			@include transition(all 0.3s ease);
			margin-bottom: 20px;
			margin-right: 27px;

			&:hover, &:focus{
				background: $buttonPrimary;

				&::after, &::before{
					background: #fff;
				}
			}

			&::after, &::before{
				content: "";
				background: $buttonPrimary;
				position: absolute;
			}
			&::after{
				width: 6px;
				height: 32px;
				left: calc(50% - 3px);
				top: calc(50% - 16px);
			}
			&::before{
				width: 32px;
				height: 6px;
				left: calc(50% - 16px);
				top: calc(50% - 3px);
			}

			input{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
		&-preview{

			&-item{
				display: inline-block;
				vertical-align: top;
				margin-right: 27px;
				margin-bottom: 20px;
				overflow: hidden;
				width: 100px;
				font-size: 12px;
				color: $grayColor;
				text-align: left;

				.form-files-preview-item-image{
					display: block;
					width: 100px;
					height: 100px;
					border: 1px solid $garyAlt;
					border-radius: 8px;
					box-shadow: 0 2px 5px 0 $garyAlt;
					margin-bottom: 10px;
					overflow: hidden;
					position: relative;


					img{
						min-width: 100%;
					    max-height: 100%;
					    width: auto;
					    max-width: none;
					}
				}

				
			}
		}
	}
}
.tab-content{
	&-main{
		border: 1px solid $garyAlt;
		padding-left: 30px;
		background: #fff;
		border-radius: 8px;
	}

	&-in{
		padding-right: 30px;
		font-size: 16px;
		color: $secondaryColor;
		border-bottom: 1px solid $garyAlt;

		&:last-child{
			border-bottom: none;
		}

		h2{
			font-size: 18px;
			color: $grayColor;
			margin: 20px 0;
		}
		p{
			margin-bottom: 24px;

			&.text-label{
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 600;
				color: $primaryColor;
				margin-bottom: 5px;
			}
		}
	}
}
.status-label{
	display: inline-block;
	line-height: 30px;
	padding: 0 14px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: bold;

	&-success{
		background: rgba($successColor,0.2);
		color: $successColor;
	}
	&-pending{
		background: rgba($dangerColor,0.2);
		color: $dangerColor;
	}
}

.dash-card{
	padding: 0 10px;
	margin-bottom: 20px;

	&-in{
		border: 1px solid $garyAlt;
		padding: 30px 20px;
		text-align: center;
		box-shadow: 0 5px 10px 0 rgba($grayColor, 0.2);
		border-radius: 8px;
		background: #fff;
		width: 147px;

		&:hover, &:focus{
			text-decoration: none;
		}

		img{
			margin: 0 auto 20px;
		}
		h3{
			margin: auto 0 0;
			font-size: 14px;
			color: $secondaryColor;
			font-weight: bold;
		}
	}
}
.user-list{

	&-main{
		background: #fff;
		box-shadow: 0 5px 10px rgba($grayColor, 0.2);
		border-radius: 8px;
		padding: 20px 0 20px 20px;
	}
	&-item{
		position: relative;
		padding-left: 25px;
		display: block;
		width: 100%;
		margin-bottom: 0;
		color: $secondaryColor;


		&-main{
			position: relative;
			margin-bottom: 20px;

			&::after{
				content: "";
				width: calc(100% - 100px);
				height: 1px;
				position: absolute;
				right: 0;
				bottom: 0;
				background: $garyAlt;
			}

		}
		.input-check{
			position: absolute;
			left: 0;
			top: calc(50% - 10px);
		}
		.user-item-name{
			overflow: hidden;

			img{
				float: left;
				width: 40px;
				margin-right: 20px;
				border-radius: 8px;
			}
			h3{
				font-size: 14px;
				font-weight: bold;
				margin: 0;
				overflow-y: hidden;
			}
		}
		p{
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 0;
		}
		.user-item-edit{
			text-align: right;
			a{
				margin-left: 15px;
				display: block;
				color: $buttonPrimary;
				font-size: 15px;
				text-decoration: none;
			}
		}
		&-head{
			padding-left: 45px;
		}
		&-label{
			font-size: 10px;
			text-transform: uppercase;
			color: $primaryColor;
			margin-bottom: 10px;
			&-name{
				padding-left: 60px;
			}
		}
	}
}
.tenant-card{
	background: #fff;
	border-radius: 8px;
	margin-bottom: 30px;
	box-shadow: 0 5px 10px rgba($grayColor, 0.2);
	padding: 20px 40px 20px 20px;
	position: relative;

	h3{
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 10px;
		color: $secondaryColor;
	}
	p{
		font-size: 14px;
		font-weight: 600;
		color: $grayColor;
	}
	.popup-trigger{
		position: absolute;
		right: 20px;
		top: 20px;
		text-decoration: none;
		color: $buttonPrimary;
		font-size: 12px;
	}
}
/*------ */

.site-footer{
	background: #fff;
	/* position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100; */
	padding: 30px 0 0;
	margin-left: 80px;

	p{
		color: $grayColor;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 30px;

		img{
			margin-left: 20px;
		}
	}

	ul{
		margin-bottom: 30px;

		li{
			margin: 0 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.28;

			a{
				position: relative;
				display: block;
				padding-bottom: 4px;
				text-decoration: none;

				&::after{
					content: "";
					width: 0%;
					height: 1px;
					left: 50%;
					bottom: 0;
					position: absolute;
					background: $linkPrimary;
					@include transition(all 0.3s ease);
				}
				&:hover::after{
					width: 100%;
					left: 0;
				}
			}
		}
	}
}

.add-new-task{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: $buttonPrimary;
	color: #fff;
	text-align: center;
	line-height: 60px;
	box-shadow: 0 2px 6px 0 rgba($buttonPrimary,0.5);
	font-size: 24px;

	&:hover, &:focus{
		text-decoration: none;
		color: #fff;
	}

	i{
		@include transition(all 0.3s ease);
		display: inline-block;
	}

	&-main{
		position: fixed;
		right: 30px;
		bottom: 40px;

		ul{
			position: absolute;
			left: 7px;
			bottom: 100%;
			margin-bottom: 0;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s ease 0.1s);

			li{
				margin-bottom: 15px;
				@include transition(all 0.3s ease);
				@include transform(translateY(30px));
				opacity: 0;

				&:nth-child(3){
					transition-delay: 0.1s;
				}
				&:nth-child(2){
					transition-delay: 0.2s;
				}
				&:nth-child(1){
					transition-delay: 0.3s;
				}

				a{
					display: block;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					font-size: 18px;
					text-align: center;
					color: #fff;
					line-height: 45px;
					background: $buttonPrimary;
					box-shadow: 0 2px 6px 0 rgba($buttonPrimary, 0.5);
					position: relative;
					text-decoration: none;

					&:hover, &:focus{
						@include transform(translateY(-2px));
					}

					span{
						position: absolute;
						right: 100%;
						top: 50%;
						margin-right: 10px;
						font-size: 12px;
						line-height: 1;
						font-weight: bold;
						background: rgba($secondaryColor,0.7);
						padding: 9px 10px;
						border-radius: 5px;
						@include transform(translateY(-50%));
						min-width: 110px;
					}
				}
			}
		}
		&.active{
			ul{
				opacity: 1;
				visibility: visible;
				@include transition(none);

				li{
					opacity: 1;
					@include transform(translateY(0));
				}
			}
			.add-new-task{
				color: $buttonPrimary;
				background: #fff;

				i{
					@include transform(rotate(45deg));
				}
			}
		}
	}
	


}

.tooltip{
	&.in{
		opacity: 1;
	}
	
	&-inner{
		background-color: $primaryColor;
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.27;
		padding: 5px 10px 5px 15px;
	}
	&.top .tooltip-arrow{
		border-top-color: $primaryColor;
	}
	&.bottom .tooltip-arrow{
		border-bottom-color: $primaryColor;
	}
	&.left .tooltip-arrow{
		border-left-color: $primaryColor;
	}
	&.right .tooltip-arrow{
		border-right-color: $primaryColor;
	}
}
.flatpickr-calendar{
	box-shadow: 0 10px 30px 0 rgba($grayColor,0.5);
	border: 1px solid $garyAlt;
	margin-top: 20px;
	padding: 0 20px 20px;

	&::after{
		content: "";
		border-style: solid;
		border-width: 0 12px 12px;
		border-color: transparent transparent #fff;
		position: absolute;
		left: 16px;
		top: -12px
	}
	&::before{
		content: "";
		border-style: solid;
		border-width: 0 14px 13px;
		border-color: transparent transparent $garyAlt;
		position: absolute;
		left: 14px;
		top: -13px
	}
	&.arrowTop{
		&::after{
			border-color: transparent transparent #fff;
		}
		&::before{
			border-color: transparent transparent $garyAlt;
		}
	}
	&.rightMost{
		&::after{
			left: auto;
			right: 16px;
		}
		&::before{
			left: auto;
			right: 14px;
		}
	}
}
.flatpickr-months{
	margin: 10px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: $secondaryColor;
	position: relative;
}
.flatpickr-current-month{
	font-size: 11px;
	line-height: 28px;
	padding: 0;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer{
	border-bottom: 1px solid rgba($grayColor, 0.4);
	padding-bottom: 10px;
	margin-bottom: 4px;
}
span.flatpickr-weekday{
	font-size: 12px;
	text-transform: uppercase;
	color: $grayColor;
}
.flatpickr-day{
	font-weight: bold;
	font-size: 11px;
	color: $secondaryColor;
}
.flatpickr-day.today{
	border-color: $grayColor;
}
.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.nextMonthDay, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.prevMonthDay{
	font-weight: normal;
	color: $grayColor;
}
.flatpickr-day.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day.nextMonthDay:focus, .flatpickr-day.nextMonthDay:hover, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.today.inRange, .flatpickr-day:focus, .flatpickr-day:hover,
.flatpickr-day.today:focus, .flatpickr-day.today:hover{
	background: $grayColor;
	border-color: $grayColor;
	color: #fff;
}
.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover{
	background: $buttonPrimary;
	border-color: $buttonPrimary;
}
@include keyframes(rotate) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  } 
}