/** common style customization from style.css **/
.form-control-coustom {
    border-color: #D7D9E5;
    height: 50px;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: none; 
}

.button-primary {
    height: auto;
}

.form-control-coustom:focus, .form-control-coustom:hover {
    outline: none;
    border-color: #054582;
    box-shadow: none; 
}

.button-primary:hover, .button-primary:focus {
        background: #CB1E1A;
        color: #fff;
        border: 1px solid #CB1E1A;
}

.claimTask{
    border-color: #cb1e1a;
    color: #cb1e1a;
    background-color: white;
}

.claimTask:hover{
    border-color: #cb1e1a;
    color: white;
    background-color: #cb1e1a;
}

.tab-list ul li a{
    text-decoration: none;
}

.page-head-main {
    position: relative;
    margin-bottom: 19px;
}

.page-head {
    background: #fff;
    padding-bottom: 3px;
    position: relative;
}

.page-head-top {
    padding-top: 0px;
}

.card-item-details-wrap {
    opacity: 1;
    visibility: visible;
    /* z-index: 99999; */
}

/** common style customization for antd **/
.ant-form-item-label > label {
    color: #666980;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.ant-form-item {
    margin-bottom: 20px;
}

.ant-form-vertical .ant-form-item {
    padding-bottom: 0px;
}

.ant-tabs-nav .ant-tabs-tab{
    color: #212332;
    padding: 26px 0 22px;
    font-size: 14px;
    position: relative;
}

.ant-tabs-nav .ant-tabs-tab-active {
    /* color: #1890ff; */
    font-weight: 700;
}

.ant-tabs-ink-bar{
    background: #223979;
}

.ant-tabs-nav .ant-tabs-tab:hover{
    color: #212332;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    /* color: #40a9ff; */
}

/**
 Antd specific styles override
**/

.ant-calendar-input-wrap {
    display: none;
}

.ant-calendar-picker-input {
    outline: none;
    display: none;
}
.anticon svg {
    display: none;
}

.ant-calendar {
    top: 35px;
    /* left: 908.281px; */
    right: auto;

    /* position: absolute;
    top: 36px;
    left: 299px; */
}

/* .ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
    background: #cb1e1a;
    border-radius: 44%;
}

.ant-calendar-today .ant-calendar-date {
    border-color: #cb1e1a;
    border-radius: 44%;
    border-radius: 20px;
    border-color: #0000004a;
}

.ant-calendar-selected-date .ant-calendar-date:hover,
.ant-calendar-selected-start-date .ant-calendar-date:hover,
.ant-calendar-selected-end-date .ant-calendar-date:hover {
    
    border-color: #cb1e1a;
} 

#datesize {
    display: flex;
    justify-content: space-between;
    width: 25%;
} */

